/*========== Base rules ==========*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-primary-light)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
