.cta {
  padding: 6rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem 0;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 2.4rem;
    color: var(--color-grey-dark-3);
  }
}

.btn {
  display: inline-block;

  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: var(--color-grey-light-1);
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;

  & > * {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }
  &__visible {
    display: inline-block;
    padding: 2rem 8rem;
    transform: translateY(0);
  }
  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }
}
